<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backoffice</title>
</head>
<body>
    <nav>
        <!--Eau-->
        <ul>
            <li><a href="http://localhost:3000/hydrometrie?page=1">Hydrométrie</a></li>
        </ul>
    </nav>
    <h1>Bienvenue dans l'espace réservé aux administrateurs</h1>
    <p>Dans cet espace, les données des APIs sont collectées et affichées pour être transférées vers le côté client.</p>
</body>
</html>